@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');
@import url(normalize.css);

:root {
    --BGCOLOR: #16161D;
    --COLOR_BLACK: #131417;
    /* morado  color: #6C63FF*/
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--BGCOLOR);
    color:white;
}

.page {
    display: grid;
    grid-template-rows: auto 1fr 1fr 0.5fr;
    grid-template-areas:
        "menu"
        "home_page"
        "apps"
        "footer";
}



/* Organizacion de secciones */

.menu {
    display: grid;
    grid-area: menu;
    margin-bottom: 20px;
}

.homePage {
    /* border: 5px solid black;*/
    display: grid;
    grid-area: home_page;
    width: 100%;

}

.apps{
    display: grid;
    grid-area: apps;
}

.footer{
    display: grid;
    grid-area: footer;
}

/* Modificaciones */

/* menu */

.menu__contenido {
    display: flex;
    justify-content: end;
    list-style: none;
    height: 70px;
    align-items: center;
    margin: 0px;
    background-color: var(--COLOR_BLACK);
}

.menu__contenido-item {
    padding-left: 15px;
    text-align: center;
}

.menu__contenido-item a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 0px 10px 5px 10px;
}

.menu__contenido-item a:hover {
    /* border-bottom: 2px solid #000; */
    color: antiquewhite;
}

/* homePage */

.homePage__content {
    display: grid;
    grid-template-areas:
        "text img"
        "text img"
        "wave wave";
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: 1fr 1fr auto;
    row-gap: 30px;
}

.homePage__content-text {
    display: grid;
    grid-area: text;
    text-align: center;
    align-items: center;
}

.homePage__content-text-title {
    font-size: 60px;
    font-weight: bold;
}

.homePage__content-text-description {
    font-size: 17px;
    letter-spacing: 1.5px;
}

.homePage__content-img {
    display: grid;
    grid-area: img;
    justify-items: center;
    text-align: center;
    align-items: center;
}

.img-index {
    width: 80%;
    height: auto;
}

.wave{
    display: grid;
    grid-area: wave;
}

.ola{
    width: 100%;
    /* 
            .wave{
            display: grid;
            grid-area: wave;
        }
        
        .ola{
            width: 100%;
        }
*/
}



/* apps */

.apps__contenido{
    text-align: center;
    background-color: white;
    
}

.apps__contenido-aplicaciones{
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    display: grid;
    grid-template-areas:
    "aplicacion1 aplicacion2";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
}

.apps__contenido-aplicacion-1{
    grid-area: aplicacion1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--COLOR_BLACK);
    border: 1px solid black;
    border-radius: 5px;
    height: 50vh;
}

.apps__contenido-aplicacion-1:hover{
    /* */
}

.apps__contenido-aplicacion-1__titulo{
    padding: 0px 30px 0px 30px;
    font-size: 3vh;
}


.apps__contenido-aplicacion-1__descripcion{
    padding: 0px 30px 0px 30px;
    font-size: 1.8vh;
    letter-spacing: 1px;
    font-weight: 300;
}

.apps__contenido-aplicacion-2{
    grid-area: aplicacion2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--COLOR_BLACK);
    border: 1px solid black;
    border-radius: 5px;
    height: 50vh;
}


/* CSS */
.button-link {
  background-color: white;
  border-radius: 6px;
  border-width: 0;
  box-sizing: border-box;
  color: var(--COLOR_BLACK);
  cursor: pointer;
  font-family: Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  text-align: center;
  width: 20%;
}



@media only screen and (max-width: 600px) {

    .ola{
        height: 10vh;
        width: 100%;
    }
}